@model ObjectBusiness.Account
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Login page</h1>
@using (Html.BeginForm("", "Login", FormMethod.Post))
{
    <div class="mb-3">
        <label for="exampleInputUserName" class="form-label">User name</label>
        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @id = "exampleInputUserName", @required = true } })
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword" class="form-label">Password</label>
        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @id = "exampleInputPassword", @type = "password", @required = true } })
    </div>
    <button class="btn btn-primary">Login</button>
}